# Ignore terraform state files
*.tfstate
*.tfstate.backup

# Ignore crash log
crash.log

# Ignore .terraform directory
.terraform/

# Ignore sensitive variable files
variables.tfvars

# Ignore all .hcl files
*.hcl
